<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>HBC Tech Week</title>

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='avail.css') }}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

</head>

<body>
    <div class="image-container set-full-height" style="background-image: url('http://demos.creative-tim.com/material-bootstrap-wizard/assets/img/wizard-book.jpg')">
      <!--   USER INFO  -->

         <div class="logo-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/ballet.jpg') }}">
            </div>
            <div class="brand">
                {{ username }}
            </div>
        </div>


      <!--   Big container   -->
      <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!-- Wizard container -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="red" id="wizard">
                        <form action="/add_availability", method="post">              
                          <div class="wizard-header">
                              <h3 class="wizard-title">
                                Add Your Availability
                              </h3>
                              <h5>Please only leave times when your absolutely not available unchecked</h5>

                            <div class="tab-content">
                                <div class="tab-pane" id="details">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <form action="/add_availability", method="post">
                                        <table class="db_table" border="1">
                                          <tr>
                                            <td>&nbsp;</td>
                                            {% for h in hours %}
                                            <td>{{h}}pm</td>
                                            {% endfor %}
                                          </tr>
                                          {% for d in days %}
                                            <tr>
                                              <td>{{d[0]}}, {{d[1]}}</td>
                                              {% for h in hours %}
                                              <td>
                                                <input type="checkbox" name = '{{d[1]}},{{h}}' value="checked"><br>
                                              </td>
                                              {% endfor %}
                                            </tr>
                                          {% endfor %}
                                        </table>
                                      <div class="pull-right">
                                      <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' type="submit" value="Submit Availability"/>
                                      </div>
                                    </form>
                                    </div>
                              
                                  </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div> <!-- row -->
    </div> <!--  big container -->

      <div class="footer">
          <div class="container text-center">
               Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
      </div>
  </div>
</body>

</html>
