{% extends "base.html" %}
{% block title %}Confirm Information{% endblock %}
{% block content %}

  <h3>Confirm Information</h3>
  <hr>
  <h4>Cast List</h4>
    {% for c in choreographer_list %}
      <p>{{c.firstname}}'s piece: 
        {% for d in c.dancers %}:
        {{ d.firstname }}
        {% endfor %}
      </p>
    {% endfor %}
  <hr>
  <h4>Dancer Availabilities</h4>
  {% for d in data_list %}
      <p>{{d.firstname}} {{d.lastname}}: {{d.availability}} </p>
  {% endfor %}
  <h3>Times that Stage is Open</h3>
  <p>{{domain}}</p>

  </div>
  <form action="/confirm", method="post">
  <input class="bn" type="submit" value="Confirm Information">
  </form>

{% endblock %}