
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.col-center {
   float: none;
   margin-right: auto;
   margin-left: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: rgb(212, 203, 219);
}

.navbar-custom {
    margin-bottom: 30px;
}


.table-borderless td,
.table-borderless th {
    border: 0;
}