<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <title>HBC Tech Week</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"  type="text/css">

</head>

<body>
  <!-- logo -->
  <img  alt="Ballet" style="float: right;" height="200" width="200" 
        src= "{{ url_for('static', filename='images/ballet.jpg') }}" 
  />  

  <!-- make all font bold -->
  <strong/>

  <!-- add many br -->

  <a href="/index"><h1>Automatic Tech Week Scheduler</h1></a>
  <h3>Add Dancers to Pieces</h3>
  <form action="/add_pieces", method="post">
  <table class="db_table" border="1">
    <tr>
      <td>&nbsp;</td>
      {% for d in dancer_list %}
      <td>{{d.firstname}}</td>
      {% endfor %}
    </tr>
    {% for c in choreographer_list %}
      <tr>
        <td>{{c.firstname}}</td>
        {% for d in dancer_list %}
        <td>
          <input type="checkbox" name = '{{c.username}},{{d.username}}' value="checked"><br>
        </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  <input class="bn" type="submit" value="Add Pieces">
</form>

<h3>Cast List</h3>
{% for c in choreographer_list %}
  <p>{{c.firstname}}'s piece: {{c.dancers}}</p>
{% endfor %}


</body>

</html>
