{% extends "base.html" %}
{% block title %}Cast List{% endblock %}
{% block content %}
<h3>Add Dancers to Pieces</h3>
  <form action="/add_pieces", method="post">
  <table class="table table-bordered table-sm">
    <tr>
      <th>&nbsp;</th>
      {% for d in dancer_list %}
      <th scope="col">{{d.firstname}}</th>
      {% endfor %}
    </tr>
    {% for c in choreographer_list %}
      <tr>
        <th scope="row">{{c.firstname}}'s piece</th>
        {% for d in dancer_list %}
        <td>
          <input type="checkbox" name = '{{c.username}},{{d.username}}' value="checked">
        </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  <input class="btn btn-primary" type="submit" value="Add Pieces">
</form>
<hr>
<h3>Cast List</h3>
{% for c in cast_list %}
  <p>{{c[0]}}'s piece: 
    {{cast_list[c][0].firstname}}
    {% for d in cast_list[c][1:]: %}
    , {{d.firstname}}
    {% endfor %}
  </p>
{% endfor %}

{% endblock %}

