
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
    h2 { 
      font-family: "Times New Roman", Times, serif; 
    }

    fn {
      font-family: "Comic Sans MS", cursive, sans-serif; 
      font-style: italic;
      margin: 0.1em 0;
    }

    .bn {
      width: 6em;
      font-weight: bold;
      -webkit-appearance: button;
    }
  </style>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <title>HBC Tech Week</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"  type="text/css">
  <title>Add User V2</title>
</head>
<body>
  <!-- logo -->
  <img  alt="Ballet" style="float: right;" height="200" width="200" 
        src= "{{ url_for('static', filename='images/ballet.jpg') }}" 
  />  

  <!-- make all font bold -->
  <strong/>
  <a href="/index"><h1>Automatic Tech Week Scheduler</h1></a>
  <h2> Available Users </h2> 
  <div>
    <table class="db_table" border="1">
      <td><fn>Email Address</fn></td>
      <td><fn>First Name</fn></td>
      <td><fn>Last Name</fn></td>
      <td><fn> Nonharvard</fn></td>
      <td><fn> Choreographer </fn></td>
      {% for d in data_list %}
        <tr>
          <td><fn>{{d.username}} </fn></td>
          <td><fn>{{d.firstname}} </fn></td>
          <td><fn>{{d.lastname}} </fn></td>
          <td><fn>{{d.nonharvard}} </fn></td>
          <td><fn>{{d.choreographer}} </fn></td>
        </tr>
      {% endfor %}
    </table>
  </div>
    <br> <br>
  <form action="/add_users", method="post">
    <h2> Add a user </h2> 
    <input type="text" name="email" value="" placeholder="Email">
    <input type="text" name="firstname" value="" placeholder="First Name">
    <input type="text" name="lastname" value="" placeholder="Last Name"> <br>
    <input type="checkbox" name="nonharvard" value="" > Is a nonharvard Student <br>
    <input type="checkbox" name="choreographer" value="" > Is a choreographer <br>
    <input class="bn" type="submit" name="update" value="Update">
  </form>

  <form action="/delete_user", method="post">
    <h2> Delete a user </h2> 
    <input type="text" name="username" value="" placeholder="Email">
    <input class="bn" type="submit" value="Delete">
  </form>


</html>
