<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <title>HBC Tech Week</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"  type="text/css">

</head>

<body>

  <img  alt="Ballet" style="float: right;" height="200" width="200" 
        src= "{{ url_for('static', filename='images/ballet.jpg') }}" 
  />  

  <a href="/index"><h1>Automatic Tech Week Scheduler</h1></a>
  <h2> Create Schedule</h2> 
  <div>

    <h3>Confirm Information</h3>
    <h3>Cast List</h3>
        {% for c in choreographer_list %}
          <p>{{c.firstname}}'s piece: 
            {% for d in c.dancers %}:
            d.firstname
            {% endfor %}
          </p>
        {% endfor %}
    <h3>Dancer Availabilities</h3>
    {% for d in data_list %}
        <p>{{d.firstname}} {{d.lastname}}: {{d.availability}} </p>
    {% endfor %}
    <h3>Times that Stage is Open</h3>
    <p>{{domain}}</p>

  </div>
  <form action="/confirm", method="post">
  <input class="bn" type="submit" value="Confirm Information">
  </form>
</body>
</html>
