{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

  <h3>Set Your Availability</h3>
  <p>Only leave times at which you are absolutely not available unchecked!</p>
     <form action="/add_availability", method="post">
      <table class="table table-bordered">
        <tr>
          <td>&nbsp;</td>
          {% for h in hours %}
          <td>{{h}}pm</td>
          {% endfor %}
        </tr>
        {% for d in days %}
          <tr>
            <td>{{d[0]}}, {{d[1]}}</td>
            {% for h in hours %}
            <td>
              <input type="checkbox" name = '{{d[1]}},{{h}}' value="checked"><br>
            </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    <hr>
    <h3>Your Availability</h3>
    {% for a in avail %}
      <p>{{a}}: {{avail[a]}}</p>
    {% endfor %}


{% endblock %}
