{% extends "base.html" %}
{% block title %}Stage Availability{% endblock %}
{% block content %}


<h3>Stage Availability</h3>
<p>When should the rehearsals be?</p>
  <form action="/stage_time", method="post">
   <table class="table table-bordered">
      <tr>
        <td>&nbsp;</td>
        {% for h in hours %}
        <td>{{h}}pm</td>
        {% endfor %}
      </tr>
      {% for d in days %}
        <tr>
          <td>{{d[0]}}, {{d[1]}}</td>
          {% for h in hours %}
          <td>
            <input type="checkbox" name = '{{d[1]}},{{h}}' value="checked"><br>
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  <input class="btn btn-primary" type="submit" value="Set Stage Hours and Run">
</form>

{% endblock %}