<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" /> 
  <title>Define Times</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"  type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>
  <!-- logo -->
  <img  alt="Ballet" style="float: right;" height="200" width="200" 
        src= "{{ url_for('static', filename='images/ballet.jpg') }}" 
  />  

  <!-- make all font bold -->
  <strong/>

  <!-- add many br -->

    <a href="/index"><h1>Automatic Tech Week Scheduler</h1></a>

  
  <h3>This is the tech schedule</h3>
  <h4>Violations</h4>
  {% for v in violations: %}
    <p>v</p>
  {% endfor %}
  <h4>Schedule</h4>
  {% for p in pieces: %}
  <p>The assigned time for {{p.choreographer.name}}'s piece is {{p.slot}}</p>
  {% endfor %}
</body>




</html>
