{% extends "base.html" %}
{% block title %}Define Dates{% endblock %}
{% block content %}


<h3>Dates of Tech Week</h3>
<p><i>Notes: dancers will be asked to provide their availabilities for these dates from 12p to 11p each day.</i></p>
<form action="/define_times", method="post">
  <div class="form-row">
    <div class="col">
      <label for="start">Start Date: yyyy-mm-dd</label>
      <input type="date" name="start_date" id="start">
    </div>
    <div class="col">
      <label for="end">End Date: yyyy-mm-dd</label>
       <input type="date" name="end_date" id = "end">
    </div>
  </div>
  <div class="form-row">
  <button type="submit" class="btn btn-primary btn-sm">Define Dates</button>
  </div>
</form>

<hr>
<h4>Currently defined as: </h4>
<p>Start Date: {{ current_time.start_date}}</p>
<p>End Date: {{ current_time.end_date}}</p>

{% endblock %}