<!-- CONVERT TO DAYS ONLY -->

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" /> 
  <title>Define Times</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"  type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>
  <!-- logo -->
  <img  alt="Ballet" style="float: right;" height="200" width="200" 
        src= "{{ url_for('static', filename='images/ballet.jpg') }}" 
  />  

  <!-- make all font bold -->
  <strong/>

  <!-- add many br -->

  <a href="/index"><h1>Automatic Tech Week Scheduler</h1></a>
  <h3>Dates of Tech Week</h3>
  <p><i>Notes: dancers will be asked to provide their availabilities for these dates from 12p to 11p each day.</i></p>
  <form action="/define_times", method="post">
  Start Date yyyy-mm-dd:<br>
  <input type="date" name="start_date">
  <br>
  End Date yyyy-mm-dd:<br>
  <input type="date" name="end_date">
  <br>
  <input class="bn" type="submit" value="Define Times">
  </form>


  <h3>Currently defined as </h3>
  <p>Start Date: {{ current_time.start_date}}</p>
  <p>End Date: {{ current_time.end_date}}</p>

</body>

</html>
