{% extends "base.html" %}
{% block title %}User Guide{% endblock %}
{% block content %}
<div class="page-header">
  <h3>User Guide</h3>
</div>
<p>
After logging in, simply check the boxes for all the times when you are available. Remember, only leave boxes unchecked for when you are absolutely not free!</p>
<p>
After pressing "Submit", you can view your updated availability under "Your Availability".
</p>
<hr>
<div class="page-header">
  <h3>Admin Guide</h3>
</div>
<p>
After logging in, you will see the Admin dashboard. In order t, you must complete items 1-3.</p>
{% endblock %}

