{% extends "base.html" %}
{% block title %}User Guide{% endblock %}
{% block content %}
<div class="page-header">
  <h3>User Guide</h3>
</div>
<p>
After logging in, simply check the boxes for all the times when you are available. Remember, only leave boxes unchecked for when you are absolutely not free!</p>
<img src="../static/images/availability.png" class="img-fluid" alt="availability">
<p>
After pressing "Submit", you can view your updated availability under "Your Availability".
</p>
<hr>
<div class="page-header">
  <h3>Admin Guide</h3>
</div>
<p>
After logging in, you will see the Admin dashboard. 
<img src="../static/images/admin.png" class="img-fluid" alt="admin">
In order to allows users to add their availability, you must first:
<ol>
	<li>Add users: add the firstname, lastname, and email address and check the boxes if the user is a choregrapher or non-Harvard member
	<img src="../static/images/adduser.png" class="img-fluid" alt="add user">
	</li>
	<li>Add pieces: define the cast list by checking the box of each dancer in the piece</li>
	<li>Define times: decide what days you want tech week to be</li>
</ol>
Next, you can run the scheduler. To do so, you will have to decide specifically when tech rehearsals should be and confirm all information.
</p>
{% endblock %}

